
::after
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: aqua;
    width: 100px;
    height: 100px;
    a {
        padding: 2px;
        text-decoration: none;
        color: black
    }
}